{% extends 'base.html' %}


{% block content %}


<div class="container-fluid" >
<div class="row">
    <div class="col-md-4">
        <div class="row ml-1">
            <h4>Your search query</h4>
            <div class="table-responsive">
            <table class="table table-hover" id="table_search_results" style="font-size:12px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URI</th>
                        <th>Select?</th>
                    <tr>
                </thead>
                <tbody>
              {% for product in products %}
                <tr>
                     
                    <td><a id="popoverData" class="btn" href="/product_description/{{ product['uri']}}" data-content="{{ product['introduction']}}" target="_blank" rel="popover" data-placement="bottom" data-original-title="{{ product['name'] }}" data-trigger="hover" style='font-size:12px;'>{{ product["name"] }}</a></td>
                    <td>{{ product["uri"] }}</td>
                    <td> <button class="btn btn-outline-success my-2 my-sm-0" id="{{ product['uri'] }}" onclick='add_row_to_table(this)'>Yes</button> </td>
                </tr>
                {% endfor%}


              </tbody>
            </table>
            </div>
        </div>
        
        
        
        
    </div>
    <div class="col-md-4">
        <div class="row ml-1">
            <h4>Products to calculate</h4><br>
             <div class="table-responsive">
            <table class="table table-hover" id="table_products_calc" style="font-size:12px;">
                <thead>
                    <tr>
                       <th>Name</th>
                        <th>URI</th>
                        <th>Remove?</th>
                    <tr>
                </thead>
                <tbody>

              </tbody>
            </table>
            </div>
        </div>
        <div class="row ml-1" id="div_calc_setup" style="display:none;">
            
            <!--<form action="{{ url_for('REST_API.lca_request') }}" method="post">-->
            <form >
            <h4>Calculation setup</h4><br>
             <div class="table-responsive">
            <table class="table table-hover" id="table_calculation_setup" style="font-size:12px;">
                <thead>
                    <tr>
                       <th>Linking algorithm</th>
                         <td colspan=2><select  id="algorithm_type" name="algorithm_type">
                                <option value="attr" selected>Attributional, cut-off</option>
                                <option value="conseq">Consequential, mid-term</option>
                            </select>
                         </td>
                        
                    </tr>
                     <tr>
                       <th>Calculation type</th>
                         <td colspan=2><select  id="calculation_type" name="calculation_type">
                                <option value="simple" selected>Simple analysis</option>
                                <option value="contribution">Contribution analysis</option>
                                <option value="monte_carlo">Monte Carlo analysis</option>
                                <option value="gsa">Global sensitivity analysis</option>
                            </select>
                         </td>
                        
                     </tr>
                    <tr>
                       <th>Impact assessment method</th>
                         <td colspan=2>
                            <select id="method_type" name="method_type">
                                
                            </select>
                         </td>
                        
                     </tr>
                    <tr>
                       <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    <tr>
                </thead>
                <tbody>
                     

              </tbody>
            </table>
            </div>
                
                <button type="button" class="btn btn-outline-danger" style="margin-left:20px;">Clear selection</button>
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left:20px;" id="calculation_submit">Calculate</button>
        </form>
        </div>
        
        
        
    </div>
    <div class="col-md-4" id="col_results" style="display:none;">
         <h4>Results</h4>
        <div class="row ml-2">
           <svg id="graph_1" style="width:600px; height:300px; font-size:16px"></svg>
            
            
        </div>
        
        <div class="row ml-2">
            <svg id="chart_2" style="width:600px; height:300px; font-size:16px"></svg>
            
        </div>
        
        <div class="row ml-2">
            <h4>Export</h4>
            <button type="button" class="btn btn-outline-success" style="margin-left:20px;">Inventory as .csv</button>
            <button class="btn btn-outline-success " style="margin-left:20px;">Inventory as .ecospold</button>
            <button class="btn btn-outline-success " style="margin-left:20px;">Results as .csv</button>
            
        </div>
        
        
    </div>
    
    
    

    
</div>
</div>



{% endblock %}


